.nav__registration {
    transition: .3s;

    &:hover {
        box-shadow: 0px 8px 15px rgba(116, 249, 76, 0.35);
    }
}

.buy{
    transition: .3s;

    &:hover {
        box-shadow: 0px 8px 15px rgba(116, 249, 76, 0.35);
    }
}

.general-sponsor__site {
    img {
        transition: .3s;
    }

    &:hover {
        img {
            transform: rotate(45deg);
        }
    }
}

.exlusive-sponsor__link {
    img {
        transition: .3s;
    }

    &:hover {
        img {
            transform: rotate(45deg);
        }
    }
}

.social-link {
    svg {
        transition: .2s;

        path {
            transition: .2s;
        }
    }

    &:hover {
        svg {

            box-shadow: 0px 8px 15px rgba(116, 249, 76, 0.35);

            path {
                fill: #74F94C;
            }
        }
    }
}

.features__item {
    transition: .3s;

    &:hover {
        background: linear-gradient(340.86deg, rgba(255, 255, 255, 0.25) 6.68%, rgba(255, 255, 255, 0) 84.63%), linear-gradient(312.39deg, rgba(255, 255, 255, 0.45) -99.37%, rgba(247, 248, 250, 0) 0%);
        border: 0.5px solid rgba(255, 255, 255, 0.15);
        box-sizing: border-box;
        backdrop-filter: blur(15px);
    }
}

.statistics__title-value {
    transition: .3s;

    &:hover {
        text-shadow: 0px 8px 15px rgba(116, 249, 76, 0.35);
    }
}

.organizators__telegram {
    transition: .3s;

    &:hover {
        text-decoration: underline;
    }
}

.nav__link{
    transition: 0.3s;
    background: transparent;
    &:hover{
        color: #74F94C;
        // text-shadow: 0px 6px 10px rgba(116, 249, 76, 0.65);
    }
}

.form__btn {
   

    transition: .3s;
    &:hover{
        color: #2D375F;
        background: #919191;
    }
}