@media (max-width: 1555px) {
    .lines {
        &__text {
            font-size: 28px;
        }

    }

    .feels {
        font-size: 75px;
    }

    .conditios {
        grid-template-columns: repeat(2, 270px);
    }

    .registration {
        &__tittle {
            font-size: 40px;
        }
    }

    .conditios {
        &__tittle {
            font-size: 26px;

            span {
                font-size: 18px;
            }
        }
    }
}


//=============================================================== 1470 ======================================================
@media (max-width: 1470px) {
    .container {
        padding: 0 30px;
    }

    .girl {
        width: 60%;
        overflow: hidden;
    }

    .statistics {
        &__title-value {
            font-size: 95px;
        }

        &__description {
            font-size: 28px;
        }
    }

    .line {}

    .lines {
        &__text {
            font-size: 24px;
        }

        &__elem {
            padding: 5px 0;
        }

    }

    .about {
        padding-top: 40px;

        &__title {
            font-size: 80px;
        }

        &__description {
            font-size: 26px;
        }

        &__img-big {
            width: 430px;
            height: 518px;
            -webkit-border-radius: 15px;
            border-radius: 15px;
            overflow: hidden;
        }

        &__img-small {
            position: absolute;
            top: 264px;
            left: 250px;
            width: 222px;
            height: 312px;
        }
    }

    .general-sponsor {
        &__title {
            font-size: 42px;
        }

        &__label {
            img {
                width: 70%;
            }
        }

        &__text {
            font-size: 16px;
        }
    }

    .exlusive-sponsor {
        &__item {
            width: 22%;
            margin: 15px;
        }
    }

    .media-partners {
        &__text {
            font-size: 22px;
        }

        &__description {
            max-width: 610px;
        }
    }

    .organizators {
        &__name {
            font-size: 28px;
            line-height: 36px;

            span {
                font-size: 16px;
            }
        }

        &__telegram {
            font-size: 20px;
        }
    }

    .footer {
        &__line {
            left: -29.5%;
        }
    }
}

//=============================================================== 1270 ======================================================
@media (max-width: 1270px) {
    .nav {
        &__item {
            margin-right: 50px;
        }
    }

    .lines {
        &__text {
            font-size: 20px;
        }
    }

    .about {
        padding-bottom: 150px;

        &__spot {
            display: none;
        }
    }

    .registration {
        padding-bottom: 180px;

        &__circle {
            width: 70%;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        &__tittle {
            font-size: 30px;

            &::after {
                width: 67px;
                height: 19px;
                transform: translateY(2px);
            }

        }
    }

    .feels {
        font-size: 65px;
        margin-top: -35px;
    }

    .features {
        &__tittle {
            font-size: 40px;
            max-width: 946px;
            margin: 0 auto;
        }

        &__item {
            font-size: 18px;
            padding: 10px 40px;
        }

        &__list {
            max-width: 1100px;
        }
    }

    .conditios {
        grid-template-columns: repeat(2, 240px);
        grid-template-rows: 288px 200px;

        &__image {
            width: 110px;
            height: 110px;
            top: 20px;
            right: 20px;
        }

        &__tittle {
            font-size: 20px;

            span {
                font-size: 14px;
            }
        }

        &__info {
            left: 20px;
            bottom: 20px;
        }
    }

    .exlusive-sponsor {
        padding-bottom: 100px;

        &__text {
            font-size: 14px;
        }

        &__label {
            height: 190px;
        }
    }

    .media-partners {
        &__text {
            font-size: 22px;
        }

        &__description {
            max-width: 610px;
        }
    }

    .map {
        width: 70%;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .footer {

        &__logo {
            display: inline-block;
            width: 200px;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        &__rights {
            font-size: 16px;
        }


    }

    .organizators {
        &__telegram {
        }

        &__image {
            width: 100px;
            height: 100px;
        }

        &__name {
            font-size: 24px;
            line-height: 30px;
            margin-left: 70px;

            span {
                font-size: 14px;
            }
        }


    }

}

//=============================================================== 1200 ======================================================
@media (max-width: 1200px) {
    .nav {
        &__registration {
            font-size: 16px;
            line-height: 20px;
            padding: 10px 20px;
        }

        &__item {
            margin-right: 30px;
        }
    }

    .main {
        &__image {
            position: relative;
            z-index: 30;
            width: 700px;
        }

        &__subtitle {
            font-size: 33px;
        }

        &__city {
            margin-left: 30px;
        }

        &__title {
            font-size: 31px;
            margin-top: -25px;
        }

        &__description {
            font-size: 22px;
            left: 30%;
        }

    }

    .time {
        font-size: 24px;
        max-width: 524px;
        padding: 15px;

        &__value {
            font-size: 25px;
        }
    }

    .statistics {
        &__title-value {
            font-size: 80px;
        }

        &__description {
            font-size: 23px;
        }
    }

    .lines {
        &__text {
            font-size: 18px;
        }
    }

    .about {
        padding-top: 0px;

        &__title {
            font-size: 60px;
        }

        &__description {
            font-size: 20px;
        }

        &__img-big {
            width: 372px;
            height: 446px;

        }

        &__img-small {
            width: 174px;
            height: 226px;
        }

        &__images {
            margin-right: 100px;
        }
    }

    .registration {
        &__tittle {
            font-size: 24px;
        }
    }

    .conditios {
        grid-template-columns: repeat(2, 215px);
        grid-template-rows: 240px 163px;




        &__image {
            width: 90px;
            height: 90px;
        }

        &__tittle {
            font-size: 18px;

            span {
                font-size: 12px;
            }
        }
    }

    .features {
        margin-top: 105px;

        &__tittle {
            font-size: 34px;
            max-width: 700px;
        }

        &__list {
            max-width: 940px;
        }

        &__item {
            font-size: 16px;
            padding: 10px 35px;
            margin: 10px;
        }
    }

    .feels {
        font-size: 55px;
        margin-top: -29px;
    }

    .general-sponsor {
        &__title {
            font-size: 35px;
        }


        &__text {
            font-size: 13px;
        }
    }

    .title {
        font-size: 35px;
    }

    .exlusive-sponsor {
        &__item {
            width: 23%;
            margin: 8px;
        }
    }

    .media-partners {
        &__item {
            margin: 24px 10px;
            transform: scale(0.8);
        }
    }

    .footer {

        &__logo {
            width: 180px;

        }

        &__rights {
            font-size: 16px;
        }

        &__title {
            font-size: 18px;
        }


    }

    .organizators {


        &__telegram {
            font-size: 16px;
            line-height: 22px;
            padding: 7px 19px 7px 55px;
        }

        &__image {
            width: 100px;
            height: 100px;
        }

        &__name {
            font-size: 20px;
            line-height: 25px;
            margin-left: 68px;

            span {
                font-size: 12px;
            }
        }


    }

    .modal-reg{
        width: 783px;

        &__title {
            font-size: 31px;
        }

        &__subtitle {
            font-size: 12px;
        }
    }

    .form{
        &__item{
            label {
                font-size: 10px;
            }

        } 
    }
    .phone {
        width: 230px;
    }

    .name {
        width: 230px;
    }

    .email {
        width: 230px;
    }
    .vertical {
        width: 400px;
    }

    .form__btn {
        padding: 9px 35px;
    }

    .trafiс {
        width: 440px;
    }

    .modal-thank{
        img{
            width: 50%;
        }
        &__text {
            font-size: 20px;
        }
    }

  

}

//=============================================================== 992 ======================================================

@media (max-width: 992px) {
    .burger {
        display: block;
    }

    .nav {
        display: none;

        &__list {
            flex-direction: column;
        }

        &__item {
            margin-right: 0;
            margin-bottom: 30px;
        }
    }

    .open {
        display: flex;
        position: absolute;
        top: 95px;
        background: #0f1738;
        flex-direction: column;
        left: 0;
        right: 0;
        z-index: 1000;
        padding: 50px 0;
    }

    .girl {
        width: 100%;
        overflow: hidden;
        opacity: 0.6;
        bottom: 0;
        display: flex;
        justify-content: flex-end;

        img {
            height: 100%;
            width: 60%;
            object-fit: cover;
        }
    }

    .elipse {
        bottom: 0;

        img {
            width: 60%;
        }
    }

    .main {
        &__content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 160px;

        }
    }

    .time {
        margin: 110px auto 0;
    }

    .statistics {
        margin-bottom: 50px;

        &__title-value {
            font-size: 65px;
        }

        &__subtitle {
            font-size: 14px;
        }

        &__description {
            font-size: 20px;
        }
    }

    .lines {
        &__text {
            font-size: 16px;
        }
    }

    .about {
        padding-bottom: 140px;

        &__title {
            font-size: 60px;
            margin-bottom: 20px;
        }

        &__description {
            font-size: 16px;
        }

        &__img-big {
            width: 307px;
            height: 366px;

        }

        &__img-small {
            width: 135px;
            height: 174px;
            top: 233px;
            left: 213px;
        }

        &__images {
            margin-right: 75px;
        }

        &__spot-red {
            display: none;
        }
    }

    .conditios {
        grid-template-columns: repeat(2, 185px);
        grid-template-rows: 215px 145px;

        &__image {
            width: 75px;
            height: 75px;
        }

        &__tittle {
            font-size: 16px;

            span {
                font-size: 10px;
            }
        }
    }

    .features {
        &__tittle {
            font-size: 29px;
            max-width: 630px;
        }

        &__item {
            font-size: 14px;
            padding: 8px 25px;
            margin: 7px;
        }

        &__list {
            max-width: 780px;
        }

        &_spot {
            width: 70%;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .feels {
        font-size: 45px;
        margin-top: -29px;
    }

    .general-sponsor {
        &__title {
            font-size: 30px;
        }

        &__label {
            height: 180px;
        }


        &__text {
            font-size: 12px;
        }
    }

    .title {
        font-size: 30px;
    }

    .exlusive-sponsor {
        &__text {
            font-size: 12px;
        }

        &__link-text {
            font-size: 14px;
        }
    }

    .media-partners {
        &__item {
            margin: 15px 10px;
            transform: scale(0.7);
        }

        &__list {
            margin: 59px auto 20px;
        }

        &__text {
            font-size: 18px;
        }

        &__description {
            max-width: 478px;
            padding: 25px 35px;
            top: 245px;
        }
    }

    .footer {

        &__logo {
            width: 160px;

        }

        &__rights {
            font-size: 14px;
        }

        &__title {
            font-size: 16px;
        }

        &__line {
            display: none;
        }


    }

    .organizators {


        &__telegram {
            font-size: 16px;
            line-height: 22px;
            padding: 7px 10px 7px 45px;
        }

        &__image {
            width: 85px;
            height: 85px;
        }

        &__name {
            font-size: 20px;
            line-height: 25px;
            margin-left: 55px;

            span {
                font-size: 10px;
            }
        }


    }

    .modal-thank{
        width: 745px;
        padding: 35px;
        &__text {
            font-size: 18px;
        }
    }
}

//=============================================================== 860 ======================================================

@media (max-width: 860px) {

    .media-partners__spot {
        transform: translate(-40%, -25%);
    }

    .statistics {


        &__description {
            font-size: 18px;
        }
    }

    .lines {
        &__text {
            font-size: 13px;
        }

        &__item {}
    }


    .about {
        padding-bottom: 110px;

        &__title {
            font-size: 45px;
            margin-bottom: 15px;
        }

        &__description {
            font-size: 14px;
        }

        &__img-big {

            width: 265px;
            height: 320px;

        }

        &__img-small {
            width: 114px;
            height: 141px;
            top: 210px;
            left: 175px;
        }

        &__images {
            margin-right: 50px;
        }
    }

    .registration {
        &__tittle {
            font-size: 20px;
        }
    }

    .conditios {
        grid-template-columns: repeat(2, 165px);
        grid-template-rows: 185px 125px;

        &__image {
            width: 75px;
            height: 75px;
        }

        &__tittle {
            font-size: 14px;

            span {
                font-size: 8px;
            }
        }
    }

    .features {
        &__tittle {
            font-size: 22px;
            max-width: 460px;
            margin-bottom: 20px;
        }

        &__spot {
            transform: translate(-50%, -30%);
        }
    }

    .feels {
        font-size: 40px;
        margin-top: -17px;
    }

    .general-sponsor {



        &__text {
            br {
                display: none;
            }
        }

        &__contact-text {
            font-size: 14px;
        }

        &__site {
            margin-right: 15px;
        }

        &__item {
            width: 49%;
        }
    }

    .exlusive-sponsor {
        &__item {
            width: 46%;
            margin: 8px;
        }

        &__label {
            height: 165px;
        }

        &__spot2 {
            transform: translate(-10%, -78px);

        }
    }

    .media-partners {
        padding-bottom: 100px;

        &__item {
            margin: 10px 15px;
            transform: scale(0.6);
        }

        &__list {
            margin: 59px auto 20px;
        }

        &__text {
            font-size: 14px;
        }

        &__description {
            max-width: 380px;
            padding: 15px 25px;
            top: 205px;
        }

        &__title {
            font-size: 38px;
        }
    }

    .footer {
        &__logo {
            width: 150px;
        }

        &__rights {
            font-size: 12px;
        }

        &__title {
            font-size: 14px;
        }
    }

    .organizators {
        &__telegram {
            font-size: 12px;
            line-height: 1;
            padding: 7px 19px 7px 35px;
        }

        &__image {
            width: 75px;
            height: 75px;
        }
        &__name {
            font-size: 18px;
            line-height: 1;
            margin-left: 45px;
            margin-bottom: 0px;

            span {
                font-size: 9px;
            }
        }

    }

    .modal-reg{
        width: 680px;
        height: 365px;
        
        &__title {
            font-size: 24px;
        }

        &__subtitle {
            font-size: 10px;
        }
    }

    .form{
        &__item{
            label {
                font-size: 8px;
            }

        } 
        &__input {
            font-size: 14px;
            padding: 5px 10px;
        }
    }
    .phone {
        width: 180px;
    }

    .name {
        width: 180px;
    }

    .email {
        width: 180px;
    }
    .vertical {
        width: 350px;
    }

    .form__btn {
        padding: 4px 24px;
        font-size: 14px;
    }

    .trafiс {
        width: 382px;
    }

    .modal-thank{
        width: 635px;
        padding: 35px;
        &__text {
            font-size: 16px;
        }
        &__btn{
            font-size: 16px;
            padding: 9px 35px;
        }
    }
}

//=============================================================== 768 ======================================================

@media (max-width: 768px) {
    .statistics {
        &__title-value {
            font-size: 57px;
        }

        &__subtitle {
            font-size: 12px;
        }

        &__description {
            font-size: 16px;
        }
    }

    .lines {
        &__item {}
    }

    .registration {
        &__tittle {
            font-size: 18px;

            &:after {
                width: 45px;
                height: 12px;
                margin-left: 10px;
            }
        }
    }

    .conditios {
        grid-template-columns: repeat(2, 155px);
        grid-template-rows: 170px 110px;
        gap: 20px;
    }

    .general-sponsor {

        &__text {}

        &__contact-text {
            font-size: 14px;
        }

        &__site {
            margin-right: 15px;
        }

        &__item {
            width: 49%;
        }

        &__description {
            margin-top: 20px;
            margin-bottom: 15px;
        }

        &__site {
            img {
                margin-right: 10px;
            }
        }

        &__label {
            height: 150px;
        }

        &__title {
            font-size: 24px;

            &:after {
                height: 4px;
            }
        }
    }

    .title {
        font-size: 24px;

        &:after {
            height: 4px;
        }
    }

    .media-partners {
        padding-bottom: 70px;

        &__item {
            margin: 5px;
            transform: scale(0.6);
        }

        &__title {
            font-size: 32px;
        }
    }

    .footer {
        &__logo {
            width: 150px;
        }

        &__rights {
            font-size: 12px;
        }

        &__title {
            font-size: 14px;
        }
        &__column{
            width: 80%;
            margin-top: 20px;
        }
        &__wrapper{
            flex-direction: column-reverse;
        }

        &__left {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .organizators {
        &__telegram {
            font-size: 12px;
            text-align: center;
        }

        &__image {
            width: 75px;
            height: 75px;
        }
        &__name {
            font-size: 18px;
            line-height: 1;
            margin-left: 45px;
            margin-bottom: 0px;

            span {
                font-size: 9px;
            }
        }

    }
}


//=============================================================== 720 ======================================================

@media (max-width: 720px) {
    .main {
        &__subtitle {
            font-size: 24px;
        }

        &__image {
            width: 550px;
        }

        &__title {
            font-size: 24px;
            margin-top: -18px;
        }

        &__description {
            position: static;
            font-size: 18px;
        }

    }

    .statistics {
        &__wrapper {
            flex-direction: column;
        }

        &__title {
            align-items: center;
        }

        &__titles {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        &__title-value {
            font-size: 45px;
        }

        &__subtitle {
            font-size: 10px;
        }

        &__description {
            font-size: 16px;
        }

        &__text {
            br {
                display: none;
            }
        }
    }

    .line {
        display: none;
    }

    .lines {
        min-height: 180px;

        &__text {
            font-size: 12px;
        }

        &__elem {
            margin: 0 5px;

            img {
                margin-right: 3px;
            }
        }
    }

    .about {
        padding-bottom: 50px;

        &__wrapper {
            flex-direction: column;
        }

        &__title {
            font-size: 35px;
            margin-bottom: 15px;
        }

        &__description {
            font-size: 14px;
        }

        &__img-big {

            width: 100%;
            height: 320px;

        }

        &__img-small {
            display: none;
        }

        &__images {
            margin-right: 0px;
            margin-bottom: 20px;
        }
    }

    .registration {
        &__top {
            flex-direction: column;
            align-items: center;
        }

        &__column {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        &__tittle {
            margin-bottom: 20px;
            text-align: center;

            &:after {
                display: none;
            }
        }
    }

    .conditios {
        grid-template-columns: repeat(2, 246px);
    }

    .features {
        margin-top: 55px;

        &__item {
            font-size: 12px;
            padding: 8px 16px;
            margin: 5px;
        }

        &__list {
            max-width: 650px;
        }
    }

    .feels {
        font-size: 30px;
        margin-top: -12px;
    }

    .general-sponsor {


        &__contact-text {
            font-size: 12px;
        }

        &__item {
            width: 100%;
        }

        &__description {
            margin-top: 20px;
            margin-bottom: 15px;
        }

        &__site {
            img {
                margin-right: 10px;
            }
        }

        &__label {
            height: 150px;
        }
    }

    .exlusive-sponsor {
        &__item {
            width: 100%;
            margin: 8px;
        }

        &__label {
            height: 140px;

            img {
                width: 37%;
                object-fit: cover;
            }
        }


    }

    .media-partners {
        padding-bottom: 50px;

        &__item {
            margin: 0;
            transform: scale(0.5);
        }

        &__list {
            margin: 59px auto 20px;
        }

        &__text {
            font-size: 14px;
        }

        &__description {
            max-width: 100%;
            padding: 15px 25px;
            top: 40%;
            z-index: 10;
        }

        &__title {
            font-size: 38px;
        }

        &__spot {
            top: -100%;
            left: 0;
            transform: translate(0%, 0%);
        }
    }

    .map {
        width: 100%;
        opacity: 0.5;

        img {
            width: 80%;

        }
    }

    .modal-reg{
        width: 85%;
        height: auto;
        padding: 20px 35px;
        
        &__title {
            font-size: 18px;
        }

        &__subtitle {
            font-size: 9px;
        }
    }

    .form{
        justify-content: space-between;
        &__item{
            width: 48%;
            label {
                font-size: 8px;
            }

        } 
        &__input {
            margin-left: 0;
            width: 100%;
            font-size: 12px;
        }
    }
    

    .form__btn {
        padding: 4px 24px;
        font-size: 14px;
    }

    .modal-thank{
        width: 80%;
        padding: 25px;
        &__text {
            font-size: 14px;
        }
        &__btn{
            font-size: 14px;
            padding: 5px 25px;
        }
    }

    
}


//=============================================================== 576 ======================================================

@media (max-width: 576px) {
    .main {
        &__image {
            width: 450px;
        }

        &__subtitle {
            font-size: 18px;
        }

        &__title {
            font-size: 18px;
            margin-top: -12px;
        }

        &__description {
            position: static;
            font-size: 16px;
        }
    }

    .time {
        margin: 48px auto 0;
        font-size: 18px;

        &__value {
            font-size: 18px;
        }
    }

    .girl {
        max-height: 700px;
    }

    .statistics {
        padding-top: 100px;

        &__title-value {
            font-size: 36px;
        }

        &__description {
            font-size: 14px;
        }
    }

    .lines {
        &__text {
            font-size: 10px;
        }

    }

    .registration {
        padding-bottom: 65px;

        &__tittle {
            font-size: 16px;
        }
    }

    .conditios {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .features {
        &__tittle {
            font-size: 18px;
            max-width: 460px;
            margin-bottom: 20px;
        }

        &__list {
            max-width: 100%;

        }

        &__item {
            width: 100%;
            text-align: center;
        }
    }

    .feels {
        font-size: 27px;
        margin-top: 10px;
    }

    .media-partners {
        &__title {
            font-size: 26px;
        }

        &__list {
            margin: 59px auto 20px;
            align-items: center;
            justify-content: space-between;
            margin: 20px 0;
            width: 100%;
        }

        &__item {
            transform: scale(0.7);
            width: 20%;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .modal-reg{
        width: 90%;
        padding: 20px;
        
        &__title {
            font-size: 16px;
        }

        &__subtitle {
            font-size: 8px;
        }
    }

    .form{
        justify-content: space-between;
        &__item{
            width: 100%;
            label {
                font-size: 8px;
            }

        } 
        &__input {
            margin-left: 0;
            width: 100%;
            font-size: 12px;
        }
    }
    

    .form__btn {
        padding: 4px 24px;
        font-size: 14px;
    }

    .modal-thank{
        width: 90%;
        &__text {
            font-size: 12px;
        }
        &__btn{
            font-size: 10px;
            padding: 2px 15px;
        }
    }

}


//=============================================================== 480 ======================================================

@media (max-width: 480px) {

    
    .header {
        &__logo {
            img {
                width: 150px;
            }
        }
    }

    .main {
        &__image {
            width: 310px;
        }

        &__subtitle {
            font-size: 14px;
        }

        &__title {
            font-size: 14px;
            margin-top: -8px;
        }

        &__city {
            margin-left: 10px;
        }

    }

    .time {
        margin: 40px auto 0;
        font-size: 12px;
        padding: 10px;
        flex-direction: column;

        &__value{
            margin-left: 0;
            font-size: 14px;
            margin-top: 20px;
        }
    }

    .girl {
        max-height: 530px;
    }

    .statistics {
        &__titles {
            flex-direction: column;
        }

        &__title-value {
            font-size: 36px;
        }

        &__description {
            font-size: 14px;
        }
    }

    .spot {
        width: 100%;
        left: 0;
        right: 0;
        transform: translate(-50%, -70%);

        img {
            width: 200%;
            object-fit: contain;
        }
    }

    .lines {
        &__item {
            width: 500%;
        }

    }

    .first-line {
        transform: rotate(7deg);
    }

    .second-line {
        transform: rotate(349deg);

    }

    .about {
        padding-bottom: 30px;



        &__title {
            font-size: 25px;
            margin-bottom: 15px;
        }

        &__description {
            font-size: 14px;
        }

        &__img-big {
            height: 210px;
        }


        &__images {
            margin-bottom: 20px;
        }

        &__text {
            margin-bottom: 10px;
        }
    }

    .conditios {
        gap: 10px;
    }

    .features {
        &__tittle {
            font-size: 14px;
        }

        &__list {
            max-width: 100%;

        }
    }

    .feels {
        font-size: 18px;
        margin-top: 10px;
    }

    .registration__tittle {
        font-size: 14px;
    }


    .general-sponsor {
        &__title {
            font-size: 14px;
            margin-bottom: 20px;
            text-align: center;

            &:after {
                display: none;
            }
        }

        &__contact-text {
            font-size: 10px;
        }

        &__label {
            height: 125px;

            img {
                width: 60%;
            }
        }
    }

    .title {
        font-size: 14px;
        margin-bottom: 20px;
        text-align: center;

        &:after {
            display: none;
        }
    }

    .exlusive-sponsor {
        padding-bottom: 45px;

        &__link-text {
            font-size: 10px;
        }

        &__label {
            height: 125px;
        }

        &__spot1 {
            transform: translate(-202px, -78px);
        }
    }

    .media-partners {
        padding-bottom: 15px;

        &__title {
            font-size: 18px;
        }



        &__item {
            transform: scale(0.5);
            width: 20%;

        }

        &__text {
            font-size: 12px;
        }

        &__description {
            padding: 10px 15px;
            top: 25%;
        }
    }

    .organizators{
        flex-direction: column;
        align-items: center;
        &__image {
            width: 60px;
            height: 60px;
        }

        &__name {
            font-size: 16px;
            margin-left: 30px;
        }
        &__telegram {
            font-size: 12px;
            padding: 5px;
        }

        &__item{
            width: 90%;
            margin-bottom: 20px;
        }
    }

    .footer{
        &__logo {
            width: 120px;
            margin-bottom: 10px;
        }

        &__title {
            text-align: center;
        }
    }

}


//=============================================================== 320 ======================================================

@media (max-width: 320px) {
    .statistics__description {
        font-size: 12px;
    }

    .lines {
        &__item {
            width: 600%;
        }

    }


    .about {
        padding-bottom: 20px;

        &__title {
            font-size: 20px;
            margin-bottom: 10px;
        }

        &__description {
            font-size: 12px;
        }

        &__img-big {
            height: 210px;
        }


        &__images {
            margin-bottom: 20px;
        }

        &__text {
            margin-bottom: 10px;
        }
    }

    .media-partners {
        padding-bottom: 15px;

        &__title {
            font-size: 16px;
        }





        &__text {
            font-size: 10px;
        }

    }
}


.visible{
    visibility: visible;

    .modal-reg{
        transform: translateY(0);
    }
}