.lines {
    position: relative;
    overflow: hidden;
    min-height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;

    // .lines__item

    &__item {
        position: absolute;
        top: 50%;
        display: flex;
        align-items: center;
        width: 170%;
        background: #E31818;
    }

    // .lines__elem

    &__elem {
        display: flex;
        align-items: center;
        margin: 0 12px;
    }

    // .lines__text

    &__text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 31px;
        line-height: 140%;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

.first-line{
    z-index: 50;
    transform: rotate(0.85deg);
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.35);
}

.second-line{
    z-index: 20;
    transform: rotate(-4.05deg);

}



